* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('../img/ac.jpeg');
	background-repeat: 
}

div {
	height: 120px;
	width: 120px;
	margin-left: 50px;
	float: left;
	margin-bottom: 20px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	background-color: #3DFF21;
	border: 5px dotted #3020FF;
}

.t1{
	background-image: url('../img/black_mantel.jpeg')
}

.t2 {
	background-image: url('../img/black_mantel.jpeg');
	background-clip: content-box; /** ocupar solamente el contenido y quitar el fondo**/
}

.t3 {
	background-image: url('../img/black_mantel.jpeg');
	background-size: 100% 100%;
}

.t4 {
	background-image: url('../img/black_mantel.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}

.t5 {
	background-image: url('../img/dh.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.t6 {
	background-image: url('../img/dh.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.t7 {
	background-image: url('../img/dh_2.jpeg');
	background-repeat: no-repeat;
	background-size: contain;
}

.t8 {
	background: #9c7bff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #9c7bff 0%, #8660f8 58%, #6c40ee 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #9c7bff 0%,#8660f8 58%,#6c40ee 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #9c7bff 0%,#8660f8 58%,#6c40ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c7bff', endColorstr='#6c40ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient
}